<div class="ibox " >

  <div class="ibox-title" >
    <h5>My Prefered Categories</h5>
    <div class="ibox-tools">


      <a class="collapse-link">
        <i class="fa fa-chevron-up"></i>
      </a>
      <a (click)="openDialogToAddPrefered()" >
        <fa-icon [icon]="addcatIcon" size="1x"  [spin]="true"  [title]="'add proposed one One !'" [ngStyle]="{color: 'darkgreen'}"></fa-icon>
      </a>
      <a class="close-link">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>

  <div class="ibox-content" >
    <div class="feed-activity-list" *ngFor="let category of ListPreferedCategories">

      <div class="feed-element">
        <div>
          <a  (click)="deletePreferedCategory(category.id)" ><small class="float-right "><fa-icon [icon]="trashIncon" [ngStyle]="{color: 'darkred'}" ></fa-icon></small></a>
          <strong>{{category.name}}</strong>
          <div>{{category.description}}</div>
          <small class="text-muted">Today 5:60 pm - 12.06.2014</small>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="ibox " >
<div class="ibox-title" >
  <h5>Propose new Category</h5>
  <div class="ibox-tools">

    <a (click)="openDialog()" >
      <fa-icon [icon]="annonceIcon" size="1x" [spin]="true"  [title]="'Propose One !'" [ngStyle]="{color: 'darkgreen'}"></fa-icon>
    </a>
    <a class="collapse-link">
      <i class="fa fa-chevron-up"></i>
    </a>
    <a class="close-link">
      <i class="fa fa-times"></i>
    </a>
  </div>
</div>

<div class="ibox-content" >
  <div class="feed-activity-list" *ngFor="let category of ListProposedCategories">

    <div class="feed-element">
      <div>
        <a *ngIf="category.valide" ><small class="float-right "><span class="label label-primary">prevalideted</span></small></a>
        <a *ngIf="!category.valide" ><small class="float-right "><span class="label label-danger">not prevalideted</span></small></a>
        <strong>{{category.name}}</strong>
        <div>{{category.description}}</div>
        <small class="text-muted">Today 5:60 pm - 12.06.2014</small>
      </div>
    </div>


  </div>
</div>
</div>
