<div class="row" >

<div class="col-lg-3"  >
  <div class="ibox ">
    <div class="ibox-title">
      <span class="label label-success float-right">Monthly</span>
      <h5>Income</h5>
    </div>
    <div class="ibox-content">
      <h1 class="no-margins">40 886,200</h1>
      <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
      <small>Total income</small>
    </div>
  </div>
</div>


</div>

<div>
  <div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
    <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
  </div>
</div>
