<div class="row">
    
    <div class="col-lg-12">
    <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Liste des etudiants </h5>
        <div ibox-tools></div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
    
                    <th>Nom </th>
                    <th>Prenom </th>
                    <th>Email </th>
                    <th>Classe </th>
                    <th>Téléphone </th>
                    <th>Date de naissence</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ListStudent">
                        <td> {{item.lastName}} </td>
                        <td> {{item.firstName}} </td>
                        <td> {{item.email}}</td>
                        <td> 4twin2 </td>
                        <td> {{item.phoneNumber}} </td>
                        <td> {{item.birthDay}}</td>
                        <td> <i class="fa fa-file-export" style="color: black;"></i> <i class="fa fa-search" aria-hidden="true"></i> <i class="fa fa-trash" aria-hidden="true"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>
    </div>
    </div>
    
    </div>
