<h3>Créer template de convention de stage : </h3>
<table>
    <tr>
        <td> <button (click)="copyMessage('nom')" value="click to copy" >Nom Etudiant</button>
        </td>

        <td> <button (click)="copyMessage('prenom')" value="click to copy" >Prénom Etudiant</button>
        </td>

        <td> <button (click)="copyMessage('datedebut')" value="click to copy" >Date début</button>         
        </td>

        <td> <button (click)="copyMessage('datefin')" value="click to copy" >Date Fin</button>
            
        </td>

        <td> <button (click)="copyMessage('entreprise')" value="click to copy" >Nom Entreprise</button>
            
        </td>
    
    </tr>
</table>
<ckeditor [(ngModel)]="templateIntershipAgreement.template"> ></ckeditor>
<p *ngIf="showerrornom" style="color:brown">Template doit avoir le nom de l'etudiant</p>
<p *ngIf="showerrorprenom" style="color:brown">Template doit avoir le prenom de l'etudiant</p>
<p *ngIf="showerrorcompany" style="color:brown">Template doit avoir le nom de la societé</p>
<p *ngIf="showerrordatedebut" style="color:brown">Template doit avoir la date debut de stage</p>
<p *ngIf="showerrordatefin" style="color:brown">Template doit avoir la date fin de stage</p>

<input type="button" value="Créer Template"  (click)="addTemplatePFE()" class="w3-button w3-blue">

