
<div class="ibox ">
  <div class="ibox-title">
    <h5>Your Skills <br><small> the only purpose of this section is to optimize for you the response of some sections in the app </small> </h5>
    <div class="ibox-tools">
      <a class="collapse-link">
        <i class="fa fa-chevron-up"></i>
      </a>
      <a (click)="addSkillsDialogue()" >
        <fa-icon [icon]="addcatIcon" size="1x"  [spin]="true"  [title]="'add proposed one One !'" [ngStyle]="{color: 'darkgreen'}"></fa-icon>
      </a>
      <a class="close-link">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>
  <div class="ibox-content no-padding">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let obj of ListSkills" >
        <p><a class="text-info" style="color: white"><small class=""><i class="fa fa-star"></i></small> <strong
        >{{obj.categorie.name}}</strong> </a>
          <br> {{obj.categorie.description}}</p>

      </li>

    </ul>
  </div>
</div>

